SPRING_DATASOURCE_URL=jdbc:postgresql://db.hdzpkqhumksbzmrrhulg.supabase.co:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=LY8X4L1qFKCKnJqm
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update
CLASSIFIER_URL=http://localhost:8000/classify-one
APP_SEED_DEMO_DATA=false
SERVER_ADDRESS=0.0.0.0
